@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter:wght@300;400;600&family=Lora:ital,wght@0,400;1,400&family=Playfair+Display:ital,wght@0,400;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-editorial {
        font-family: 'Playfair Display', serif;
    }

    .font-book {
        font-family: 'Lora', serif;
    }

    .font-modern {
        font-family: 'Inter', sans-serif;
    }

    .font-typewriter {
        font-family: 'Courier Prime', monospace;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Apply globally to html and body */
html,
body {
    overflow-x: hidden;
    /* Prevent side scroll */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    /* Chrome */
}